<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcj.emp.mapper.EmpMapper">
    <!-- 获取emp信息 -->
    <select id="queryEmpInfo" resultType="com.wcj.emp.dao.Emp" >
        select * from emp
    </select>
</mapper>